@use "sass:math";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  --gray-50: #cdd6f4;
  --gray-100: #bac2de;
  --gray-200: #a6adc8;
  --gray-300: #9399b2;
  --gray-400: #7f849c;
  --gray-500: #6c7086;
  --gray-600: #585b70;
  --gray-700: #45475a;
  --gray-800: #313244;

  --white-color: var(--gray-50);
  --body-bg-color: #1e1e2e;
  --secondary-bg: #181825;
  --header-bg-color: var(--secondary-bg);
  --text-color: var(--gray-50);
  --text-secondary: var(--gray-100);
  --text-disabled: var(--gray-500);

  --primary-color: #b4befe;
  --primary-color-hover: #7287fd;
  --primary-color-focus-shadow: 0 0 0 3px rgba(180, 190, 254, 0.25);

  &.color-2 {
    --primary-color: #a6e3a1;
    --primary-color-hover: #40a02b;
    --primary-color-focus-shadow: 0 0 0 3px rgba(166, 227, 161, 0.25);
  }

  &.color-3 {
    --primary-color: #fab387;
    --primary-color-hover: #fe640b;
    --primary-color-focus-shadow: 0 0 0 3px rgba(250, 179, 135, 0.25);
  }

  &.color-4 {
    --primary-color: #cba6f7;
    --primary-color-hover: #8839ef;
    --primary-color-focus-shadow: 0 0 0 3px rgba(203, 166, 247, 0.25);
  }

  &.color-5 {
    --primary-color: #f38ba8;
    --primary-color-hover: #d20f39;
    --primary-color-focus-shadow: 0 0 0 3px rgba(243, 139, 168, 0.25);
  }

  &.color-6 {
    --primary-color: #89b4fa;
    --primary-color-hover: #1e66f5;
    --primary-color-focus-shadow: 0 0 0 3px rgba(137, 180, 250, 0.25);
  }

  &.color-7 {
    --primary-color: #f5e0dc;
    --primary-color-hover: #dc8a78;
    --primary-color-focus-shadow: 0 0 0 3px rgba(245, 224, 220, 0.25);
  }

  --danger-color: #f38ba8;
  --danger-color-hover: #d20f39;
  --success-color: #a6e3a1;
  --succss-color-hover: #40ab45;
  --hover-bg-color: rgba(205, 214, 244, 0.05);
  --border-primary: var(--gray-800);
  --border-secondary: var(--gray-700);
  --scroll-bg-color: rgba(205, 214, 244, 0.2);
  --scroll-thumb-color: rgba(205, 214, 244, 0.3);

  // Button
  --btn-default-bg: var(--gray-600);
  --btn-default-hover-bg: var(--gray-500);
  --btn-default-text: var(--gray-50);

  --btn-primary-bg: var(--primary-color);
  --btn-primary-hover-bg: var(--primary-color-hover);
  --btn-primary-text: var(--white-color);

  --btn-danger-bg: var(--danger-color);
  --btn-danger-hover-bg: var(--danger-color-hover);
  --btn-danger-text: var(--white-color);

  --btn-success-bg: var(--success-color);
  --btn-success-hover-bg: var(--succss-color-hover);
  --btn-success-text: var(--white-color);

  --btn-border-radius: 6px;

  // Popover
  --z-index-popover: 1060;
  --popover-bg-color: var(--gray-700);
  --popover-border-radius: 4px;
  --popover-border-color: var(--gray-500);
  --popover-shadow: 0 4px 6px rgba(30, 30, 46, 0.3);

  // Modal
  --z-index-modal: 1020;
  --modal-bg-color: var(--gray-800);
  --modal-border-radius: 4px;

  // Input
  --input-bg: var(--gray-800);
  --input-border-radius: 6px;
  --input-focus-border: var(--primary-color-hover);
  --input-disabled-bg: var(--gray-700);

  // Radio
  --radio-checked-bg: var(--primary-color);
  --radio-border-color: var(--gray-400);
  --radio-disabled-bg: var(--gray-500);
  --radio-marker: var(--gray-800);

  // Switch
  --toggle-bg: var(--gray-400);
  --toggle-thumb: var(--gray-700);
  --toggle-hover-bg: var(--gray-300);
  --toggle-checked-bg: var(--primary-color);
  --toggle-checked-hover-bg: var(--primary-color-hover);
}

.color-1-block {
  background-color: #b4befe;
;
}
.color-2-block {
  background-color: #a6e3a1;
}
.color-3-block {
  background-color: #fab387;
}
.color-4-block {
  background-color: #cba6f7;
}
.color-5-block {
  background-color: #f38ba8;
}
.color-6-block {
  background-color: #89b4fa;
}
.color-7-block {
  background-color: #f5e0dc;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--scroll-bg-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--scroll-thumb-color);
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

#newtabRoot {
  height: 100%;
}

#main-bg {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  background-attachment: fixed;
  background-image: radial-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  transition: opacity 0.3s linear 0s;
  width: 100%;
}

.main-layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--body-bg-color);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;

  &.bg {
    background-color: transparent;
    .main-header {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.main-body {
  flex: 1;
  overflow: auto;

  .image-loader-main {
    position: fixed;
    top: 80px;
    left: 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.d-flex {
  display: flex;
}

.error-color {
  color: var(--danger-color);
}

$grid-columns: 12;

@mixin calc-grid-column($index, $class) {
  .col-#{$class}-#{$index} {
    width: percentage(math.div($index, $grid-columns));
  }
}

@media (min-width: 576px) {
  @for $i from 0 through $grid-columns {
    @include calc-grid-column($i, "sm");
  }
}

@media (min-width: 992px) {
  @for $i from 0 through $grid-columns {
    @include calc-grid-column($i, "md");
  }
}

@media (min-width: 1200px) {
  @for $i from 0 through $grid-columns {
    @include calc-grid-column($i, "xl");
  }
}

@media (min-width: 1400px) {
  @for $i from 0 through $grid-columns {
    @include calc-grid-column($i, "xxl");
  }
}

.drag-icon {
  display: inline-flex;
  width: 30px;
  cursor: grab;

  .ri-more-2-fill {
    width: 8px;

    &.first {
      margin-left: -6px;
    }
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
