.current-tab-wrapper {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--border-primary);
  width: 230px;

  .current-tab-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 15px;

    .tab-title {
      font-size: 1.2rem;
    }
  }

  .current-tab-list {
    flex: 1;
    // overflow: auto;
    padding: 0 15px;

    .empty-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding-bottom: 100px;

      .icon {
        font-size: 3rem;
        color: var(--text-secondary);
        margin-bottom: 10px;
      }
      .title {
        font-size: 1.1rem;
        color: var(--text-secondary);
      }
    }
  }
}

.active-list-item {
  display: flex;
  align-items: center;
  background: var(--gray-800);
  font-size: 0.8rem;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;

  &:hover {
    background: var(--gray-700);

    .close-btn {
      opacity: 1;
    }
  }

  .fav-img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }

  .fav-img-icon {
    font-size: 1.3rem;
    color: var(--text-secondary);
  }

  .tab-title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .close-btn {
    padding: 0px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: var(--primary-color);
    background-color: inherit;
    border-color: transparent;
    position: absolute;
    inset: 50% 5px auto auto;
    transform: translateY(-50%);
    opacity: 0;

    &:hover {
      background-color: var(--gray-800);
      border-color: var(--danger-color);
      color: var(--danger-color);
    }
  }
}
